<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.narutomatvey.financialaccount">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="true">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.activity.AddingFinanceActivity" />
        <activity android:name=".activity.activity.StatisticsActivity" />
        <activity android:name=".activity.activity.CategoryChoiceActivity" />
        <activity android:name=".activity.activity.CurrencyChoiceActivity" />
    </application>

</manifest>